body {
    background-color: white;
}

.main-container {
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.logo {
    display: block;
    margin-left: -20px;
    margin-top: -20px;
    width: 80px;
    height: 80px;
}
nav li {
    width: 80px;
    height: 50px;
    float: left;
    text-align: center;
    background-color: black;
    list-style-type: none;
    display: block;
    padding: 20px;
}






/* unvisited link */
nav a:link {
    color: white;
}

/* visited link */
nav a:visited {
    color: white;
}

/* mouse over link */
nav a:hover {
    color: lightgray;
}

/* selected link */
nav a:active {
    color: white;
}